{% include 'layout.html' %}

<div class="container mt-5">
  <h3>
    Add input to generate images from a personal chatbot
  </h3>
  <form action="/image" method="POST">
    <div>
      <textarea class="form-control" placeholder="Add input here" name="user_input" rows="3"></textarea>
      <button class="btn btn-primary mt-1" type="submit">Send</button>
    </div>
  </form>

  {% if user_input %}
  <div class="user-input-display mt-3">
      <h5>Your Prompt:</h5>
      <p>{{ user_input }}</p>
  </div>
  {% endif %}

  <div class="card text-center mt-3">
      <div class="card-header">
          Image Generation
      </div>
      <div class="card-body">
          {% if image_url %}
          <div>
              <img src="{{ image_url }}" alt="Generated image based on input">
          </div>
          {% else %}
          <p>No image to display. Submit a prompt to generate one.</p>
          {% endif %}
      </div>
  </div>

</div>